@charset "UTF-8";
.noSkin.dropdown-content {
  background-color: transparent;
  border-color: transparent;
}

.noSkin.dropdown-down.dropdown-content:before {
  border-bottom-color: transparent;
}

.noSkin.dropdown-down.dropdown-content:after {
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.noSkin.dropdown-up.dropdown-content:before, .noSkin.dropdown-up.dropdown-content:after {
  border-top-color: transparent;
}

.dropdown-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1020;
  display: block;
  opacity: 0;
  float: left;
  /*min-width: 100px;*/
  min-height: 16px;
  /*padding: 10px;*/
  margin: 9px 0 0;
  text-align: left;
  /*line-height: 0.9rem;*/
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  background-clip: padding-box;
  transition-duration: .3s;
}

.in.dropdown-content {
  opacity: 1;
  transform: scale(1);
}

.out.dropdown-content {
  opacity: 0;
  transform: scale(0.815);
}

/** 箭头 */
.dropdown-content:after, .dropdown-content:before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border: 8px dashed transparent;
  z-index: 1;
}

/** 上箭头 */
.dropdown-down:after, .dropdown-down:before {
  border-bottom-style: solid;
  border-width: 0 8px 8px;
}

.dropdown-up:after, .dropdown-up:before {
  border-bottom-style: solid;
  border-width: 8px 8px 0;
}

.dropdown-down.dropdown-content:before {
  border-bottom-color: #ddd;
  bottom: 0;
  left: 10px;
  top: -8px;
  pointer-events: none;
}

/** 下箭头 */
.dropdown-up.dropdown-content {
  top: auto;
  bottom: 100%;
  margin: 0 0 9px;
}

.dropdown-down.dropdown-content:after {
  border-bottom-color: #fff;
  bottom: -1px;
  top: -7px;
  left: 10px;
}

.dropdown-up.dropdown-content:before {
  border-top-color: #ddd;
  bottom: 0;
  left: 10px;
  bottom: -8px;
  pointer-events: none;
}

.dropdown-up.dropdown-content:after {
  border-top-color: #fff;
  bottom: -7px;
  left: 10px;
}

.tooltip {
  transform: scale(1);
  transform-origin: top center;
  z-index: 999;
  background: rgba(97, 97, 97, 0.9);
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  max-width: 170px;
  padding: 8px;
  text-align: center;
}

.listMenu {
  font-size: 0.9rem;
  display: inline-block;
  background: #fff;
  list-style: none;
  height: auto;
  width: auto;
  padding: 0.4em 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 12px 3px rgba(0, 0, 0, 0.2);
}

.listMenu li {
  position: relative;
  display: block;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  text-align: left;
  margin: 0;
  outline-color: #bdbdbd;
  position: relative;
  overflow: hidden;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  /*height: 40px;
  line-height: 40px;
  padding: 0 35px 0 17px;
  font-size: 14px;*/
  height: 3em;
  padding: 0 1.4em;
  line-height: 3em;
}

.listMenu li.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.listMenu li[disabled] {
  color: #bdbdbd;
  background-color: transparent;
  cursor: not-allowed;
}

.listMenu li:hover {
  background-color: #eee;
}

/*# sourceMappingURL=../maps/component/Dropdown.css.map */
