@charset "UTF-8";
/* ===主题颜色=== */
/* 链接 */
/* 链接悬停 */
/* ===环境变量=== */
/* ===公用样式== */
.loading-img, .loading-img .img, .file-wrap input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn, .btn-small, .file-wrap, .label,
.input-wrap, .adaptive .item, .adaptive .label {
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: middle;
}

.btn, .btn-small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 
 * loyout.scss 
 * 框架内元素, 比如按钮, 编辑框等
*/
.btn, .btn-small {
  text-align: center;
  padding: 0px 2em;
  height: 2.3em;
  line-height: 2.3em;
  border-radius: 0.3em;
  color: #fff;
  border: 1px solid #03a9f4;
  background-color: #03a9f4;
  font-size: 1em;
  font-family: "PingFang SC", "Microsoft yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  user-select: none;
}

.btn:hover, .btn-small:hover {
  color: #fff;
  background-color: #2ebcfc;
}

.btn.disabled, .disabled.btn-small {
  pointer-events: none;
  cursor: not-allowed;
  background-color: gainsboro;
  border: 1px solid gray;
  color: gray;
}

.btn.loading, .loading.btn-small {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.btn-medium {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-family: "PingFang SC", "Microsoft yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-small {
  font-size: 0.9em;
  padding: 0px 1.5em;
}

.input-btn-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.title-h1 {
  padding: 0 0.8em;
  margin-bottom: 0.8em;
  line-height: 3.5em;
  color: #333;
  background: #f9f9f9;
  border-bottom: 1px solid #e4e4e4;
}

.title-h1 .primary {
  font-size: 1.5em;
  color: black;
}

.title-h2 {
  padding: 0 0.8em;
  margin-bottom: 0.8em;
  line-height: 2.3em;
  color: #333;
  background: #f9f9f9;
  border-bottom: 1px solid #e4e4e4;
}

.title-h2 .primary {
  font-size: 1.1em;
  color: black;
}

.title-h1.noBottom,
.title-h2.noBottom {
  margin-bottom: 0;
  border-bottom: none;
}

.loading-img {
  display: none;
  background: transparent;
  z-index: 10;
}

.loading-img .img {
  background: url("../images/loading.gif") center center no-repeat;
}

.file-wrap {
  position: relative;
  min-width: 100px;
}

.file-wrap input[type="file"] {
  z-index: 2;
  opacity: 0.01;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
  cursor: pointer;
}

.file-wrap .btn-file {
  position: absolute;
  top: 0;
  right: 0;
}

/* 表单布局 */
.query-box {
  padding: 0.8em;
}

.item {
  margin-bottom: 0.8em;
  position: relative;
}

.item .input-text,
.item .input-select {
  width: 170px;
}

.item .double-input {
  width: 82px;
}

.item .label {
  min-width: 95px;
  text-align: right;
  margin-right: 0.8em;
  vertical-align: middle;
}

.input-area {
  position: relative;
}

.input-area .cut {
  vertical-align: middle;
}

.label,
.input-wrap {
  position: relative;
}

.item-row .item {
  float: left;
}

.adaptive {
  text-align: left;
}

.adaptive .item {
  float: left;
}

.adaptive .item .input-text,
.adaptive .item .input-select {
  width: 170px;
}

.adaptive .label {
  width: 20%;
  text-align: right;
  margin-right: 0.8em;
  vertical-align: middle;
}

[data-dpr="2"] .item .label.w-90 {
  width: 95px;
}

/* 竖屏 */
/* 横屏 @media only screen and (orientation: landscape) */
@media only screen and (max-width: 550px) {
  .adaptive .item .input-text,
  .adaptive .item .input-select {
    width: 170px;
  }
  .adaptive .item .double-input {
    width: 100px;
  }
}

/* 小于于等于宽度 */
@media only screen and (max-width: 840px) {
  .adaptive .item {
    width: 100%;
  }
  .adaptive .item .label {
    width: 90px;
  }
}

/* 大于等于宽度 */
@media only screen and (min-width: 841px) {
  .adaptive .item {
    width: 50%;
  }
  .adaptive .item .label {
    width: 23%;
  }
  .adaptive .item .double-input {
    width: 110px;
  }
}

/* 大于等于宽度 */
@media only screen and (min-width: 1240px) {
  .adaptive .item {
    width: 33.33%;
  }
  .adaptive .item .label {
    width: 25%;
  }
  [data-dpr="3"] .adaptive .item {
    width: 100%;
  }
}

/* 大于等于宽度 */
@media only screen and (min-width: 1680px) {
  .adaptive .item {
    width: 25%;
  }
  .adaptive .item .label {
    width: 25%;
  }
}

@media only screen and (min-width: 1240px) {
  .adaptive .item .input-text,
  .adaptive .item .input-select {
    width: 170px;
  }
  .adaptive .item .double-input {
    width: 135px;
  }
}

/* 查询结果框架 */
.query-result {
  position: relative;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  width: 100%;
  height: 500px;
}

.query-result iframe {
  width: 100%;
  height: 100%;
}

.table-warp {
  width: 100%;
  min-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/*# sourceMappingURL=maps/layout.css.map */
