<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	<typeHandlers> 
		<typeHandler javaType="java.lang.Enum" jdbcType="VARCHAR" handler="com.lefu.commons.web.mybatis.EnumHandler"/>
	</typeHandlers>
	
	<plugins>
        <plugin interceptor="com.lefu.commons.web.mybatis.PagePluginOracle" />
	</plugins>
</configuration>