<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.payinterface.core.dao.mapper.InterfaceInfoHistoryMapper">

	<resultMap id="interfaceInfoHistoryMap" type="com.yl.payinterface.core.model.InterfaceInfoHistory">
		<id 	property="id" 					column="ID"></id>
		<result property="code" 				column="CODE"></result>
		<result property="version" 				column="VERSION"></result>
		<result property="createTime" 			column="CREATE_TIME"></result>
		<result property="interfaceInfoCode" 	column="INTERFACE_INFO_CODE"></result>
		<result property="provider" 			column="PROVIDER_CODE"></result>
		<result property="name" 				column="NAME"></result>
		<result property="type" 				column="TYPE"></result>
		<result property="cardType" 			column="CARD_TYPE"></result>
		<result property="singleAmountLimit" 	column="SINGLE_AMOUNT_LIMIT"></result>
		<result property="singleAmountLimitSmall" column="SINGLE_AMOUNT_LIMIT_SMALL"></result>
		<result property="startTime" 			column="START_TIME"></result>
		<result property="endTime" 				column="END_TIME"></result>
		<result property="status" 				column="STATUS"></result>
		<result property="tradeConfigs" 		column="TRADE_CONFIGS"></result>
		<result property="description" 			column="DESCRIPTION"></result>
		<result property="invokeSystem" 		column="INVOKE_SYSTEM"></result>
		<result property="operator" 			column="OPERATOR"></result>
		<result property="feeType" 				column="FEE_TYPE"></result>
		<result property="fee" 					column="FEE"></result>
		<result property="isReal" 				column="IS_REAL"></result>
	</resultMap>


	<sql id="interfaceInfoHistoryColumns">
		ID,CODE,VERSION,CREATE_TIME,INTERFACE_INFO_CODE,PROVIDER_CODE,NAME,TYPE,CARD_TYPE,SINGLE_AMOUNT_LIMIT,SINGLE_AMOUNT_LIMIT_SMALL,START_TIME,END_TIME,STATUS
		TRADE_CONFIGS,DESCRIPTION,INVOKE_SYSTEM,OPERATOR,FEE_TYPE,FEE,IS_REAL
	</sql>


	<insert id="create" parameterType="com.yl.payinterface.core.model.InterfaceInfoHistory"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO INTERFACE_INFO_HISTORY (
		CODE,VERSION,CREATE_TIME,INTERFACE_INFO_CODE,PROVIDER_CODE,NAME,TYPE,CARD_TYPE,SINGLE_AMOUNT_LIMIT,SINGLE_AMOUNT_LIMIT_SMALL,START_TIME,END_TIME,STATUS,
		TRADE_CONFIGS,DESCRIPTION,INVOKE_SYSTEM,OPERATOR,FEE_TYPE,FEE,IS_REAL)
		VALUES
		(#{code},#{version},#{createTime},#{interfaceInfoCode},#{provider},#{name},#{type},#{cardType},
		#{singleAmountLimit},#{singleAmountLimitSmall},#{startTime},#{endTime},#{status},#{tradeConfigs},#{description},#{invokeSystem},#{operator},#{feeType},#{fee},#{isReal})
	</insert>

	<select id="findByInterfaceCode" resultMap="interfaceInfoHistoryMap" parameterType="Map">
		SELECT
		<include refid="interfaceInfoHistoryColumns" />
		FROM INTERFACE_INFO_HISTORY
		WHERE INTERFACE_CODE = #{interfaceCode}
		ORDER BY ID DESC
	</select>

</mapper> 