@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
span,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  word-spacing: 0;
  border: 0;
  outline: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

ol,
ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

input,
button,
select,
textarea {
  outline: none; }

/* ===主题颜色=== */
/* 链接 */
/* 链接文本 */
/* 链接悬停 */
/* 链接 */
/* 链接悬停 */
/* 主文本 */
/* 次文本 */
/* 导航栏背景 */
/* 导航栏文本 */
/* 导航栏悬停背景 */
/* 导航栏列表文本 */
/* 导航栏列表文本 */
/* 导航栏列分割线 */
/* 导航栏列分割线悬停 */
/* 内容背景 */
/* 主要文本 */
/* 次要文本 */
/* ===环境变量=== */
.full-size, .ctx-window-out .div-iframe, .ctx-window-out iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.btn, .swich .active, .i-switch, .dot, .ib, .middle, .header .arrow-2, .header .title, .jump-bar, .jump-bar .jump-number, .jump-bar .input-wrap, .area-block .primary, .area-block .line, .modal-wrap .modal-header p, .message-wrap .message-content, .tabs-size, .datalist .genre span, .bulletin .text, .bulletin .plus, .block .lable, .block .b-input, .block .input-wrap {
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top; }

.fix, .header, .header .account, .header .links, .home-container, .uc-process {
  zoom: 1; }
  .fix:after, .header:after, .header .account:after, .header .links:after, .home-container:after, .uc-process:after {
    display: block;
    content: '.';
    clear: both;
    line-height: 0;
    visibility: hidden; }

.btn, .autocomplete-wrap li, .ellipsis, .header .title, .area-block .primary, .modal-wrap .modal-header p, .nav-bar .menu-title, .nav-bar .sub-title, .nav-bar .menus a, .tabs-pill .tabs-inner, .bulletin a, .bulletin .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

/* ===主题颜色=== */
/* 链接 */
/* 链接文本 */
/* 链接悬停 */
/* 链接 */
/* 链接悬停 */
/* 主文本 */
/* 次文本 */
/* 导航栏背景 */
/* 导航栏文本 */
/* 导航栏悬停背景 */
/* 导航栏列表文本 */
/* 导航栏列表文本 */
/* 导航栏列分割线 */
/* 导航栏列分割线悬停 */
/* 内容背景 */
/* 主要文本 */
/* 次要文本 */
/* ===环境变量=== */
.full-size, .ctx-window-out .div-iframe, .ctx-window-out iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.btn, .swich .active, .i-switch, .dot, .ib, .middle, .header .arrow-2, .header .title, .jump-bar, .jump-bar .jump-number, .jump-bar .input-wrap, .area-block .primary, .area-block .line, .modal-wrap .modal-header p, .message-wrap .message-content, .tabs-size, .datalist .genre span, .bulletin .text, .bulletin .plus, .block .lable, .block .b-input, .block .input-wrap {
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top; }

.fix, .header, .header .account, .header .links, .home-container, .uc-process {
  zoom: 1; }
  .fix:after, .header:after, .header .account:after, .header .links:after, .home-container:after, .uc-process:after {
    display: block;
    content: '.';
    clear: both;
    line-height: 0;
    visibility: hidden; }

.btn, .autocomplete-wrap li, .ellipsis, .header .title, .area-block .primary, .modal-wrap .modal-header p, .nav-bar .menu-title, .nav-bar .sub-title, .nav-bar .menus a, .tabs-pill .tabs-inner, .bulletin a, .bulletin .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

* {
  box-sizing: border-box; }

a,
.btn,
.btn-white,
.swich span,
.input-text,
.input-select,
.table-two-color {
  font-family: "PingFang SC", "Microsoft yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.btn,
.btn-white,
.swich span {
  cursor: pointer;
  font-size: 14px; }

.btn,
.btn-white,
.input-text,
.input-select {
  border-radius: 3px;
  transition: all .3s; }

a {
  color: #03a9f4;
  text-decoration: none; }
  a:hover {
    color: #2cbfff; }
  a.disabled {
    color: gainsboro;
    cursor: not-allowed;
    pointer-events: none; }
  a.loading {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.7;
    filter: alpha(opacity=70); }

.loading {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.7;
  filter: alpha(opacity=70); }

.btn {
  text-align: center;
  padding: 0px 21px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  color: white;
  border: 1px solid #03a9f4;
  background-color: #03a9f4; }
  .btn:hover {
    color: white;
    background-color: #2cbfff; }
  .btn.disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: gainsboro;
    border: 1px solid gray;
    color: gray; }
  .btn.loading {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.7;
    filter: alpha(opacity=70); }

.reverse {
  color: #03a9f4;
  background-color: #fff; }
  .reverse:hover {
    color: #03a9f4;
    background-color: #eff5ff; }

.btn-white {
  padding: 0.3em 1em;
  line-height: 20px;
  border-radius: 4px;
  color: #03a9f4;
  border: 1px solid #cccccc;
  background-color: white; }
  .btn-white:hover {
    background-color: #f4f6f9; }
  .btn-white.disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: gainsboro;
    border: 1px solid gray;
    color: gray; }

.input-text {
  font-size: 12px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d3d3d3;
  padding: 0 10px;
  display: block; }
  .input-text:focus {
    border-color: rgba(102, 175, 233, 0.5);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 7px rgba(102, 175, 233, 0.6); }

.behoove {
  font-size: 12px;
  color: red;
  font-weight: bold;
  font-family: serif; }

.verif-message {
  font-size: 12px;
  color: red;
  font-weight: bold;
  font-family: serif; }

.input-select {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d3d3d3; }
  .input-select option {
    font-size: 13px;
    color: #666666; }

.table-two-color {
  width: 100%;
  border: 1px solid #e4e4e4;
  font-size: 13px; }
  .table-two-color th, .table-two-color td {
    text-align: left;
    padding: 20px;
    word-break: keep-all; }
  .table-two-color th {
    background-color: #ecf0f1;
    font-weight: normal; }
  .table-two-color tr:nth-child(2n) {
    background-color: #ecf0f1; }

.not-find {
  font-size: 20px;
  color: black; }

textarea {
  border: 1px solid #DDD;
  color: #2C3E50;
  font-size: 15px;
  line-height: 27px;
  padding: 10px;
  font-family: "PingFang SC","Microsoft yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
  resize: none; }

.swich span {
  display: none;
  border-radius: 4px;
  width: 60px;
  height: 23px;
  line-height: 23px;
  color: white;
  background: url(../imgs/icons.png) no-repeat;
  background-size: cover; }

.swich .on {
  background-position: 0 0;
  padding: 0 0 0 10px; }

.swich .off {
  background-position: -66px 0;
  padding: 0 0 0 22px; }

.i-switch {
  width: 48px;
  height: 24px;
  line-height: 22px;
  border-radius: 24px;
  border: 1px solid #ccc;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  transition: all .2s ease-in-out; }
  .i-switch .switch-inner {
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: 25px; }
  .i-switch .switch-dot {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    left: 1px;
    top: 1px;
    cursor: pointer;
    transition: left .2s ease-in-out,width .2s ease-in-out; }

.i-switch.checked {
  border-color: #39f;
  background-color: #39f; }
  .i-switch.checked .switch-inner {
    left: 8px; }

.i-switch.disabled {
  cursor: not-allowed;
  background: #f3f3f3;
  border-color: #f3f3f3; }
  .i-switch.disabled .switch-inner {
    color: #ccc; }
  .i-switch.disabled .switch-dot {
    cursor: not-allowed; }

.autocomplete-wrap {
  position: absolute;
  width: 100%;
  background-color: #fff;
  box-shadow: 1px 1px 11px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: auto;
  z-index: 50; }
  .autocomplete-wrap li {
    padding: 10px;
    cursor: pointer; }
  .autocomplete-wrap li:hover, .autocomplete-wrap li.active {
    background-color: #999;
    color: #eee; }

.dot {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #e0dddd; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left; }

.hidden {
  display: none; }

.over-x-h {
  overflow-x: hidden; }

.over-y-h {
  overflow-y: hidden; }

.op-0 {
  opacity: 0; }

.oh {
  overflow: hidden; }

.ov-auto {
  overflow: auto; }

.over-x {
  overflow-x: auto;
  overflow-y: hidden; }

.min-width {
  min-width: 1020px; }

.middle {
  width: 0;
  height: 100%;
  vertical-align: middle; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.pos-ab {
  position: absolute;
  left: 0;
  top: 0; }

.v-m {
  vertical-align: middle; }

.v-t {
  vertical-align: top; }

.fl {
  float: left; }

.fr {
  float: right; }

.f-18 {
  font-size: 18px; }

.f-12 {
  font-size: 12px; }

.f-13 {
  font-size: 13px; }

.w-50 {
  width: 50px; }

.w-60 {
  width: 60px; }

.w-75 {
  width: 75px; }

.w-90 {
  width: 90px; }

.w-79 {
  width: 79px; }

.w-100 {
  width: 100px; }

.w-110 {
  width: 110px; }

.w-120 {
  width: 120px; }

.w-145 {
  width: 145px; }

.w-170 {
  width: 170px; }

.w-200 {
  width: 200px; }

.w-220 {
  width: 220px; }

.w-950 {
  width: 950px; }

.w-p-30 {
  width: 30%; }

.w-p-70 {
  width: 70%; }

.w-p-100 {
  width: 100%; }

.w-p-40 {
  width: 40%; }

.w-p-65 {
  width: 65%; }

.w-p-60 {
  width: 60%; }

.w-p-35 {
  width: 35%; }

.w-p-30 {
  width: 30%; }

.w-p-100 {
  width: 100%; }

.h-p-100 {
  height: 100%; }

.plr-5 {
  padding: 0 5px; }

.mr-5 {
  margin-right: 5px; }

.mlr-5 {
  margin: 0 5px; }

.mlr-10 {
  margin: 0 10px; }

.mr-10 {
  margin-right: 10px; }

.mr-20 {
  margin-right: 20px; }

.ml-20 {
  margin-left: 20px; }

.mt-10 {
  margin-top: 10px; }

.ml-10 {
  margin-left: 10px; }

.mt-20 {
  margin-top: 20px; }

.mtb-20 {
  margin: 20px 0; }

.mtb-10 {
  margin: 10px 0; }

.mlr-11 {
  margin: 0 11px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.ml-35 {
  margin-left: 35px; }

.mb-40 {
  margin-bottom: 40px; }

.mtb-40 {
  margin: 40px auto; }

.pd-20 {
  padding: 20px; }

.pa-lr-10 {
  padding: 0 10px; }

.pd-l-10 {
  padding-left: 10px; }

.pd-r-10 {
  padding-right: 10px; }

.pd-r-20 {
  padding-right: 20px; }

.c_gray {
  color: gray; }

.c_green {
  color: #1abc9c; }

.c_red {
  color: red; }

.c_black {
  color: #333; }

.b-yellow {
  color: #fff;
  background: #f1c40f; }

.b-green {
  background-color: #1abc9c; }

.b-orange {
  background-color: #f39c12; }

.b-blue {
  background-color: #297cbb; }

.b-red {
  background-color: #E91E63; }

/* ===主题颜色=== */
/* 链接 */
/* 链接文本 */
/* 链接悬停 */
/* 链接 */
/* 链接悬停 */
/* 主文本 */
/* 次文本 */
/* 导航栏背景 */
/* 导航栏文本 */
/* 导航栏悬停背景 */
/* 导航栏列表文本 */
/* 导航栏列表文本 */
/* 导航栏列分割线 */
/* 导航栏列分割线悬停 */
/* 内容背景 */
/* 主要文本 */
/* 次要文本 */
/* ===环境变量=== */
.full-size, .ctx-window-out .div-iframe, .ctx-window-out iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.btn, .swich .active, .i-switch, .dot, .ib, .middle, .header .arrow-2, .header .title, .jump-bar, .jump-bar .jump-number, .jump-bar .input-wrap, .area-block .primary, .area-block .line, .modal-wrap .modal-header p, .message-wrap .message-content, .tabs-size, .datalist .genre span, .bulletin .text, .bulletin .plus, .block .lable, .block .b-input, .block .input-wrap {
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top; }

.fix, .header, .header .account, .header .links, .home-container, .uc-process {
  zoom: 1; }
  .fix:after, .header:after, .header .account:after, .header .links:after, .home-container:after, .uc-process:after {
    display: block;
    content: '.';
    clear: both;
    line-height: 0;
    visibility: hidden; }

.btn, .autocomplete-wrap li, .ellipsis, .header .title, .area-block .primary, .modal-wrap .modal-header p, .nav-bar .menu-title, .nav-bar .sub-title, .nav-bar .menus a, .tabs-pill .tabs-inner, .bulletin a, .bulletin .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.a-white, .header .links a, .header .menus a {
  color: white; }
  .a-white:hover, .header .links a:hover, .header .menus a:hover {
    color: #f0f0f0; }

.header {
  width: 100%;
  min-width: 1020px;
  font-family: "PingFang SC", "Microsoft yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  background-color: #03a9f4;
  color: white; }
  .header .logo-box,
  .header .logo-box img {
    height: 100%; }
  .header .logo-box {
    padding: 5px;
    margin-left: 20px; }
  .header .account {
    margin-right: 20px; }
  .header .links {
    margin-right: 40px; }
    .header .links li {
      float: left;
      font-size: 12px;
      margin-right: 20px; }
  .header .user-plan {
    position: relative; }
  .header .user-plan:hover .arrow-2 {
    background: url(../imgs/arrow2.png) center right no-repeat;
    background-position-x: -19px; }
  .header .user-plan:hover .menus {
    display: block; }
  .header .arrow-2 {
    position: absolute;
    right: 0;
    top: 25px;
    width: 19px;
    height: 11px;
    background: url(../imgs/arrow2.png) center right no-repeat;
    background-position-x: 0; }
  .header .title {
    max-width: 300px;
    padding-right: 40px; }
  .header .menus {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    background: #03a9f4;
    z-index: 5; }
    .header .menus a {
      display: block;
      padding: 11px 22px;
      line-height: 22px; }
      .header .menus a:hover {
        background: #2cbfff; }
  .header .triangle {
    display: block;
    position: absolute;
    top: -12px;
    width: 100%;
    height: 12px;
    background: url(../imgs/triangle.png) no-repeat 90% center; }

.jump-bar {
  font-size: 14px;
  color: #666; }
  .jump-bar .count {
    margin: 0 5px;
    color: #03A9F4; }
  .jump-bar .btn-1,
  .jump-bar .jump-number a {
    color: #999999;
    height: 30px;
    margin-right: 4px;
    background-color: #fff;
    border: 1px solid #d7dde4;
    border-radius: 4px;
    min-width: 29px;
    line-height: 30px;
    cursor: pointer;
    font-family: Arial;
    display: inline-block;
    text-align: center; }
    .jump-bar .btn-1:hover,
    .jump-bar .jump-number a:hover {
      border-color: #39f; }
  .jump-bar .jump-number .ellips {
    cursor: default; }
  .jump-bar .jump-number .current {
    color: #fff;
    background-color: #39f;
    border-color: #39f; }
  .jump-bar .input-wrap > .input-text {
    padding-right: 32px; }
  .jump-bar .jump-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    margin-right: 0;
    line-height: 30px; }
  .jump-bar .input-wrap {
    position: relative;
    width: 70px; }

/* 区块背景 */
/* 区块分割线 */
/* 区块文本 */
.area-block {
  height: 100%;
  background: white; }
  .area-block .primary {
    max-width: 90%; }
  .area-block .title {
    color: #333333;
    padding: 5px 20px;
    border-bottom: 1px solid #eae7e7;
    line-height: 23px; }
    .area-block .title a {
      color: #333333; }
    .area-block .title span {
      font-size: 12px; }
  .area-block a.active {
    color: #03a9f4; }
  .area-block .plane {
    min-height: 100px;
    color: #666666; }
  .area-block .line {
    width: 1px;
    height: 12px;
    margin: 2px 10px 0;
    background: #eae7e7; }

.bulletin-show .article {
  text-align: left;
  padding: 10px;
  font-size: 19px;
  line-height: 28px; }
  .bulletin-show .article .t-2 {
    color: red;
    font-size: 25px; }
  .bulletin-show .article p {
    color: #333333;
    margin-bottom: 20px; }

.bulletin-show .title {
  text-align: center;
  border-bottom: 1px solid #9a9090;
  padding-bottom: 15px; }

.bulletin-show .mt {
  font-size: 35px; }

.bulletin-show .date-lable {
  color: red;
  margin-right: 10px; }

.bulletin-show .date {
  color: #9a9090; }

.bulletin-show ul {
  list-style: inherit;
  padding: 15px; }

.bulletin-show li {
  margin-bottom: 20px; }

.modal-wrap,
.modal-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.modal-wrap {
  overflow: auto;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal-wrap .modal-close {
    padding: 0 5px 0;
    font-size: 17px;
    position: absolute;
    right: 16px;
    top: 10px;
    overflow: hidden;
    cursor: pointer;
    color: #828282; }
    .modal-wrap .modal-close:hover {
      color: #ff6f6f; }
  .modal-wrap .modal-mask {
    height: 100%;
    background-color: black;
    opacity: 0.3;
    filter: alpha(opacity=30); }
  .modal-wrap iframe {
    max-width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto; }
  .modal-wrap .modal-body {
    -webkit-overflow-scrolling: touch;
    overflow: auto; }
  .modal-wrap .modal-area {
    transform: scale(0, 0);
    transition: all 0.5s;
    max-width: 90%;
    width: auto;
    margin: 0 auto;
    position: relative;
    top: 0;
    outline: 0; }
  .modal-wrap .modal-content {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    background-color: #fff;
    border: 0;
    border-radius: 6px; }
  .modal-wrap .modal-header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 16px; }
    .modal-wrap .modal-header p {
      text-align: center;
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      font-weight: 700; }
  .modal-wrap .modal-footer {
    border-top: 1px solid #e9e9e9;
    padding: 10px 18px 10px 10px;
    text-align: right; }

.vertical-center-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.message-wrap {
  font-size: 12px;
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 16px;
  left: 0;
  text-align: center; }
  .message-wrap .message-content {
    text-align: left;
    padding: 8px 16px;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(99, 99, 99, 0.2);
    background: #fff; }
  .message-wrap .icon {
    margin-right: 8px;
    font-size: 14px;
    top: 1px;
    position: relative;
    color: #0099e5; }
  .message-wrap .text {
    color: #525558; }

.icon-rotate {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

div.gpage {
  margin: 20px 0;
  font-size: 14px;
  color: #666; }
  div.gpage .search_resultsPagingTag {
    margin: auto; }
  div.gpage .search_resultsSummary {
    font-size: 13px; }
    div.gpage .search_resultsSummary b {
      margin: 0 5px;
      color: #03a9f4; }
  div.gpage .search_resultsPaging .off,
  div.gpage .search_resultsPaging th,
  div.gpage .search_resultsPaging a {
    color: #999;
    height: 30px;
    margin-right: 4px;
    background-color: #fff;
    border: 1px solid #d7dde4;
    border-radius: 4px;
    min-width: 29px;
    line-height: 30px;
    cursor: pointer;
    font-family: Arial;
    display: inline-block;
    text-align: center; }
  div.gpage .search_resultsPaging th {
    color: #fff;
    background-color: #39f;
    border-color: #39f; }
  div.gpage .search_resultsPaging .off {
    cursor: not-allowed; }

/** 返回顶部 */
.backTop {
  position: fixed;
  right: 50px;
  bottom: 20px; }

.backTop a {
  color: #a1a1ab;
  font-size: 2.5em; }

.backTop a:hover {
  color: #808084; }

.QPUI-selectbox {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  height: 30px;
  line-height: 30px;
  position: relative;
  padding: 0;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #DDD;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #B7B7B7;
  *zoom: 1;
  *overflow: visible;
  outline: 0 none;
  background: #fafafa; }

.QPUI-selectbox:hover {
  /*border: 1px solid #09E;*/
  background-color: #eee; }

.QPUI-selectbox::-moz-focus-inner {
  border: 0;
  padding: 0; }

select[disabled] + .QPUI-selectbox,
select[disabled] + .QPUI-selectbox:hover {
  color: #ccc;
  border: 1px solid #B7B7B7;
  cursor: default;
  box-shadow: none;
  opacity: .7;
  user-select: none; }

.QPUI-selectbox.readonly, .QPUI-selectbox.readonly:hover {
  color: #ccc;
  border: 1px solid #B7B7B7;
  cursor: default;
  box-shadow: none;
  opacity: .7;
  user-select: none; }

.QPUI-selectbox-inner {
  padding: 0 0 0 5px;
  margin-right: 15px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  *background: #fafafa;
  *filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 ); }

.QPUI-selectbox .QPUI-selectbox-icon {
  position: absolute;
  right: 4px;
  top: 50%;
  margin-top: -2px;
  border-top: 5px solid #A7A7A7;
  border-left: 5px dashed transparent;
  border-right: 5px dashed transparent;
  border-bottom: 0 none;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  line-height: 0;
  font-size: 0; }

.QPUI-selectbox-open .QPUI-selectbox-icon {
  margin-top: -3px;
  border-top: 0 none;
  border-bottom: 5px solid #A7A7A7; }

.QPUI-selectbox-dropdown {
  z-index: 1001;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 12px;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
  font-family: Helvetica, arial, sans-serif;
  background: #FFF;
  border: 1px solid #DCDCDC; }

.QPUI-selectbox-optgroup,
.QPUI-selectbox-option {
  margin: 0;
  padding: 8px 10px;
  white-space: nowrap;
  cursor: pointer;
  color: #333;
  background: transparent;
  outline: 0 none; }

.QPUI-selectbox-optgroup {
  cursor: default;
  color: #000;
  font-weight: bold;
  font-style: italic;
  font-size: 14px; }

.QPUI-selectbox-option:hover {
  background: #eee; }

.QPUI-selectbox-option:focus {
  outline: 0 none; }

.QPUI-selectbox-dropdown .QPUI-selectbox-selected,
.QPUI-selectbox-dropdown .QPUI-selectbox-selected:hover {
  background: #394D7E;
  color: #fff; }

.QPUI-selectbox-dropdown .QPUI-selectbox-disabled,
.QPUI-selectbox-dropdown .QPUI-selectbox-disabled:hover {
  color: #ccc;
  cursor: default;
  background: #fff; }

.QPUI-popup-top .QPUI-selectbox-dropdown,
.QPUI-popup-top-left .QPUI-selectbox-dropdown,
.QPUI-popup-top-right .QPUI-selectbox-dropdown {
  top: -2px; }

.QPUI-popup-bottom .QPUI-selectbox-dropdown,
.QPUI-popup-bottom-left .QPUI-selectbox-dropdown,
.QPUI-popup-bottom-right .QPUI-selectbox-dropdown {
  top: 2px; }

body {
  font-family: "PingFang SC", "Microsoft yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px; }

.nav-bar {
  font-family: "PingFang SC", "Microsoft yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  background-color: #3b444f;
  overflow-y: auto;
  color: #999999; }
  .nav-bar .menu-title, .nav-bar .sub-title {
    position: relative;
    border-bottom: 1px solid #49515c;
    text-indent: 20px;
    line-height: 49px;
    padding: 0 15px 0 20px;
    cursor: pointer; }
    .nav-bar .menu-title:hover, .nav-bar .sub-title:hover {
      background-color: #343e4b; }
  .nav-bar .sub-title {
    background: url(../imgs/arrow2_down.png) 10px center no-repeat; }
  .nav-bar .active .menu-title .arrow-left {
    display: block; }
  .nav-bar .active .sub-title {
    background: url(../imgs/arrow2_top.png) 10px center no-repeat; }
  .nav-bar .active .menus {
    display: block; }
  .nav-bar .menus {
    display: none;
    background-color: #2c3645; }
    .nav-bar .menus a {
      padding-right: 10px;
      line-height: 45px;
      padding-left: 50px;
      color: #d8d8d8;
      position: relative;
      display: block; }
    .nav-bar .menus a:hover {
      background: #343e4b; }
    .nav-bar .menus .on {
      color: #03a9f4;
      background: #343e4b;
      border-left: 2px solid #03a9f4; }
      .nav-bar .menus .on .arrow-left {
        display: block; }
  .nav-bar .arrow-left {
    display: none;
    position: absolute;
    right: 0;
    top: 14px;
    width: 0;
    height: 0;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-right: 9px solid whitesmoke;
    font-size: 0;
    line-height: 0; }

.home-container {
  padding-top: 60px;
  height: 100%; }

.tabs-out {
  position: relative;
  margin: 0 10px 0 10px; }
  .tabs-out .tabs-in {
    position: absolute;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    z-index: 1;
    border-bottom: 1px solid #eee; }

.arrow-lr {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%; }
  .arrow-lr .arrow {
    position: absolute;
    top: 0;
    height: 36px;
    width: 19px;
    margin: 2px 4px;
    background: url(../imgs/tabs_icons.png) 1px center no-repeat #e0ecff;
    z-index: 4;
    cursor: pointer; }
    .arrow-lr .arrow:hover {
      background-color: #d5e1f5; }
  .arrow-lr .arrow-left {
    left: 0;
    margin-left: 0; }
  .arrow-lr .arrow-right {
    right: 0;
    margin-right: 0;
    background-position: -15px center; }

/* ===========tab选项卡颜色=========== */
/* 主文本 */
/* 分隔线条 */
/*导航菜单激活 */
/*tab选项卡渐变起始 */
/*tab选项卡渐变起始 */
/*tab选项卡悬停 */
.tabs-pill {
  position: relative;
  width: 9999px; }
  .tabs-pill li {
    float: left;
    margin: 0 0 0 4px;
    padding: 3px 0 0;
    border-bottom: 3px solid transparent;
    cursor: pointer; }
  .tabs-pill li.selected {
    border-bottom: 3px solid #4c8dee; }
    .tabs-pill li.selected .tabs-inner {
      height: 32px;
      font-weight: 700;
      background: #eee;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EEEEEE,endColorstr=#EEEEEE); }
  .tabs-pill .tabs-inner {
    position: relative;
    display: block;
    height: 34px;
    width: 140px;
    padding: 0 10px;
    line-height: 34px;
    color: #000;
    font-size: 14px;
    text-align: center;
    background: linear-gradient(to bottom, #eff5ff 0, #e0ecff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF); }
    .tabs-pill .tabs-inner:hover {
      background: #d5e1f5;
      color: #000;
      filter: none; }
  .tabs-pill .first .close {
    display: none; }
  .tabs-pill .close {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    right: 3px;
    top: 10px;
    opacity: 0.6;
    background: url(../imgs/tabs_icons.png) -34px center no-repeat; }
    .tabs-pill .close:hover {
      opacity: 1; }

.tabs-size {
  position: absolute; }

.ctx-window-out {
  overflow: hidden;
  position: relative;
  margin: 0 0 0 10px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 51px;
  background: #f5f5f5; }
  .ctx-window-out .ctx-window-in {
    background-color: white;
    position: relative;
    height: 100%;
    overflow: hidden; }
  .ctx-window-out .div-iframe {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    /*opacity: 0;*/
    visibility: hidden; }
  .ctx-window-out .div-iframe.active {
    /*opacity: 1;*/ }

.load-img {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);
  background: rgba(0, 0, 0, 0.1);
  z-index: 3; }
  .load-img .img {
    background: url(../imgs/loading.gif) center center no-repeat; }

.row1 {
  height: 315px; }

.tag {
  padding: 1px 5px;
  border-radius: 10px; }

.decs {
  padding: 20px; }
  .decs .company {
    margin-left: 20px; }
  .decs .name {
    color: black;
    margin-top: 8px;
    margin-bottom: 15px; }
  .decs .person {
    float: left;
    width: 65px;
    height: 65px;
    background: url(../imgs/backindex1.png) no-repeat;
    background-position: -3px 0;
    background-size: 70px 110px; }
  .decs .idverify {
    width: 25px;
    height: 20px;
    background: url(../imgs/backindex3.png) no-repeat;
    background-position: -25px 0;
    background-size: cover; }
  .decs .idverify.active {
    background-position: 0 0; }
  .decs .phone {
    width: 16px;
    height: 23px;
    background: url(../imgs/backindex3.png) no-repeat;
    background-position: -60px 0;
    background-size: cover; }
  .decs .line {
    width: 1px;
    height: 20px;
    margin: 0 9px;
    background: #ccc; }

.balance {
  padding-left: 103px; }
  .balance p {
    line-height: 30px; }
  .balance span {
    margin-left: 15px; }
  .balance .amount {
    color: #333;
    font-size: 18px;
    font-weight: bold; }

.datalist {
  padding: 20px; }
  .datalist .genre {
    color: black; }
    .datalist .genre span {
      margin-right: 10px;
      margin-top: 4px;
      width: 7px;
      height: 7px;
      vertical-align: top;
      border-radius: 50%; }
  .datalist .result {
    padding: 13px 0 13px 17px; }
  .datalist a {
    font-size: 14px;
    color: #666666; }
    .datalist a:hover {
      color: #2cbfff; }

.bulletin {
  padding: 10px 20px 20px; }
  .bulletin .circle {
    background: #e0dddd;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 15px;
    width: 7px;
    height: 7px;
    border-radius: 7px; }
  .bulletin li {
    position: relative;
    padding: 10px 0 10px 15px;
    width: 100%; }
  .bulletin a {
    font-size: 12px;
    display: block;
    overflow: hidden; }
  .bulletin .text {
    width: 69%; }
  .bulletin .plus {
    width: 30%;
    text-align: right; }

.chart {
  padding: 20px 20px 0;
  height: 320px; }

.block {
  padding: 0 0 10px 0; }
  .block .lable {
    vertical-align: middle;
    text-align: right; }
  .block .b-input {
    vertical-align: middle; }
  .block .input-wrap {
    position: relative;
    vertical-align: middle;
    color: black; }
  .block .cut {
    vertical-align: middle; }

.table-warp {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }

.table-scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .table-scroll table {
    -webkit-overflow-scrolling: touch; }

.table-result {
  margin: 20px 0;
  width: 100%;
  height: 300px; }

.jump-rarp {
  text-align: center; }

.title-h1 {
  /*margin: 20px 10px 10px 0;*/
  margin: 0 10px 10px 0;
  padding: 0 10px 0 10px;
  font-size: 18px;
  line-height: 40px;
  color: #333;
  background: #f9f9f9;
  border-bottom: 1px solid #e4e4e4; }
  .title-h1 .primary {
    color: black; }

.title-h2 {
  margin: 16px 0 10px;
  padding: 0 0 0 10px;
  font-size: 14px;
  line-height: 30px;
  color: #333;
  background: #f9f9f9;
  border-bottom: 1px solid #e4e4e4; }

.btn-size-small {
  padding: 2px 12px;
  line-height: 20px;
  font-size: 13px; }

.b-babyBlue {
  background-color: #9cddf5; }

.b-coralBlue {
  background-color: #00a2ca; }

.b-gray {
  background-color: #ccc; }

.uc-process .unit {
  float: left;
  font-size: 14px;
  width: 307px;
  height: 26px;
  line-height: 26px;
  color: white;
  text-align: center; }

.uc-process .arrow-complete {
  position: relative;
  float: left;
  height: 26px;
  overflow: hidden;
  background: #00a2ca;
  width: 10px; }
  .uc-process .arrow-complete .prev {
    border-left-color: #9cddf5; }

.uc-process .arrow-current {
  position: relative;
  width: 2%;
  overflow: hidden;
  background: #ccc;
  float: left;
  height: 26px; }
  .uc-process .arrow-current .prev {
    border-left-color: #00a2ca; }

.uc-process .next, .uc-process .prev {
  position: absolute;
  display: block;
  left: 0;
  height: 0;
  width: 0;
  overflow: hidden; }

.uc-process .next {
  top: -3px;
  border: 10px solid transparent;
  border-width: 16px 10px;
  border-left-color: #fff; }

.uc-process .prev {
  top: 0;
  border: 10px solid transparent;
  border-width: 13px 8px;
  border-left-color: #ccc; }

.uc-process .arrow-right {
  float: left;
  font-size: 0;
  line-height: 0;
  border-bottom: 14px solid transparent;
  border-top: 14px solid transparent;
  border-left: 16px solid #9cddf5; }

.order-box {
  border: 1px solid #e6e6e6; }

.order-info {
  padding: 0 10px 20px;
  border-bottom: solid 3px #ddd;
  color: #999; }

.order-title {
  border-bottom: dashed 1px #d6d6d6;
  height: 36px;
  line-height: 36px;
  padding: 10px;
  box-sizing: content-box; }
  .order-title strong {
    font-weight: 400;
    color: #333; }
  .order-title .total {
    color: #999;
    font: 700 18px/2 Tahoma; }

.uc-table td {
  word-break: keep-all;
  padding: 5px 10px; }

.uc-table .align {
  padding: 5px 10px; }

.pay-way {
  box-sizing: border-box;
  background: #f7f7f7;
  /*padding: 6px 10px 6px 7px;*/
  border-left: 4px solid #ff9a00;
  margin: 10px; }
  .pay-way .zf {
    font-size: 14px;
    padding: 0 20px;
    line-height: 42px; }
  .pay-way .money {
    color: #f60;
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px; }
  .pay-way .tab {
    padding: 13px 18px 11px;
    font-size: 12px;
    color: #666;
    border-top: 2px solid transparent;
    cursor: pointer; }
  .pay-way .tab.active {
    border-top: 2px solid #f60;
    background: #fff; }

.p-title {
  line-height: 42px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  margin: 0 30px; }

.blank-content {
  padding: 20px 0 10px 29px;
  overflow: hidden; }

.banks-ico {
  background: url(../image/banks.png) no-repeat center; }
.B2C_CGB-DEBIT_CARD, .B2C_CGB-CREDIT_CARD{height:33px;width:154px;background-position:0 0;}
.B2C_HXB-DEBIT_CARD, .B2C_HXB-CREDIT_CARD{height:33px;width:154px;background-position:0 -33px;}
.B2C_ICBC-DEBIT_CARD, .B2C_ICBC-CREDIT_CARD{height:33px;width:154px;background-position:0 -66px;}
.B2C_CMBC-DEBIT_CARD, .B2C_CMBC-CREDIT_CARD{height:33px;width:154px;background-position:0 -99px;}
.B2C_CNCB-DEBIT_CARD, .B2C_CNCB-CREDIT_CARD{height:33px;width:154px;background-position:0 -132px;}
.B2C_CZB-DEBIT_CARD, .B2C_CZB-CREDIT_CARD{height:33px;width:154px;background-position:0 -165px;}
.B2C_NBCB-DEBIT_CARD, .B2C_NBCB-CREDIT_CARD{height:33px;width:154px;background-position:0 -198px;}
.B2C_SPDB-DEBIT_CARD, .B2C_SPDB-CREDIT_CARD{height:33px;width:154px;background-position:0 -231px;}
.wxPay{height:33px;width:154px;background-position:0 -264px;}
.B2C_NJCB-DEBIT_CARD, .B2C_NJCB-CREDIT_CARD{height:33px;width:154px;background-position:0 -297px;}
.B2C_PSBC-DEBIT_CARD, .B2C_PSBC-CREDIT_CARD{height:33px;width:154px;background-position:0 -330px;}
.B2C_SDB-DEBIT_CARD, .B2C_SDB-CREDIT_CARD{height:33px;width:154px;background-position:0 -363px;}
.B2C_CMB-DEBIT_CARD, .B2C_CMB-CREDIT_CARD{height:33px;width:154px;background-position:0 -396px;}
.B2C_UnionPay-DEBIT_CARD, .B2B_CUP, .AUTHPAY_YLZF, .AUTHPAY_UnionPay{height:33px;width:154px;background-position:0 -429px;}
.B2C_BCM-DEBIT_CARD, .B2C_BCM-CREDIT_CARD{height:33px;width:154px;background-position:0 -462px;}
.B2C_BEA-DEBIT_CARD, .B2C_BEA-CREDIT_CARD{height:33px;width:154px;background-position:0 -495px;}
.B2C_PAB-DEBIT_CARD, .B2C_PAB-CREDIT_CARD{height:33px;width:154px;background-position:0 -528px;}
.B2C_ABC-DEBIT_CARD, .B2C_ABC-CREDIT_CARD{height:33px;width:154px;background-position:0 -561px;}
.alPay{height:33px;width:154px;background-position:0 -594px;}
.B2C_BOB-DEBIT_CARD, .B2C_BOB-CREDIT_CARD{height:33px;width:154px;background-position:0 -627px;}
.B2C_CCB-DEBIT_CARD, .B2C_CCB-CREDIT_CARD{height:33px;width:154px;background-position:0 -660px;}
.B2C_CEB-DEBIT_CARD, .B2C_CEB-CREDIT_CARD{height:33px;width:154px;background-position:0 -693px;}
.B2C_CIB-DEBIT_CARD, .B2C_CIB-CREDIT_CARD{height:33px;width:154px;background-position:0 -726px;}
.B2C_BOC-DEBIT_CARD, .B2C_BOC-CREDIT_CARD{height:33px;width:154px;background-position:0 -759px;}
.B2C_BOS-DEBIT_CARD, .B2C_BOS-CREDIT_CARD{height:33px;width:154px;background-position:0 -792px;}
.B2C_CBB-DEBIT_CARD, .B2C_CBB-CREDIT_CARD{height:33px;width:154px;background-position:0 -825px;}
.bank-list {
  /*width: 660px;*/
  display: none; }
  .bank-list li {
    float: left;
    height: 33px;
    width: 218px;
    margin-bottom: 10px; }
  .bank-list li input {
    float: left;
    width: 13px;
    height: 13px;
    margin: 10px 10px 0 0; }
  .bank-list li label {
    float: left;
    width: 154px;
    height: 33px; }
    .bank-list li label img {
      box-sizing: border-box;
      width: 100%; }

.bank-list.on {
  display: block; }

.submit-box {
  padding: 0 0 40px;
  margin: 0 10px;
  border-top: dashed 1px #d6d6d6; }

.submit-box .info-row {
  height: 36px;
  /*padding: 20px 10px 10px;*/
  text-align: right; }

.uc-button {
  width: 150px;
  height: 36px;
  overflow: hidden;
  font-size: 14px;
  border-width: 0;
  background-color: #ff6600;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  line-height: 2;
  cursor: pointer;
  outline: none;
  border: solid 1px #ff6600;
  text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0; }

.button-row {
  padding: 0 10px;
  text-align: right; }

.toggle-area {
  cursor: pointer; }

/*# sourceMappingURL=content.css.map*/