@charset "UTF-8";
/* ===主题颜色=== */
/* 链接 */
/* 链接文本 */
/* 链接悬停 */
/* 链接 */
/* 链接悬停 */
/* 主文本 */
/* 次文本 */
/* 导航栏背景 */
/* 导航栏文本 */
/* 导航栏悬停背景 */
/* 导航栏列表文本 */
/* 导航栏列表文本 */
/* 导航栏列分割线 */
/* 导航栏列分割线悬停 */
/* 内容背景 */
/* 主要文本 */
/* 次要文本 */
/* ===环境变量=== */
@import url(./plugins/select.css);
.verifi-text-error, .full-size {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.middle, .btn, .swich .active, .dot, .ib {
  display: inline-block;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top; }

.fix {
  zoom: 1; }
  .fix:after {
    display: block;
    content: '.';
    clear: both;
    line-height: 0;
    visibility: hidden; }

.verifi-text-error p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a,
.btn,
.btn-white,
.swich span,
.input-text,
.input-select,
.table-two-color {
  font-family: "PingFang SC", "Microsoft yahei", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.btn,
.btn-white,
.swich span {
  cursor: pointer;
  font-size: 14px; }

.btn,
.btn-white,
.input-text,
.input-select {
  border-radius: 3px;
  -webkit-transition: all .3s;
  transition: all .3s; }

a {
  color: #03a9f4;
  text-decoration: none; }
  a:hover {
    color: #2cbfff; }
  a.disabled {
    color: gainsboro;
    cursor: no-drop;
    pointer-events: none; }

.middle {
  width: 0;
  height: 100%;
  vertical-align: middle; }

.btn {
  padding: 0px 21px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  color: white;
  border: 1px solid #03a9f4;
  background-color: #03a9f4; }
  .btn:hover {
    color: white;
    background-color: #2cbfff; }
  .btn.disabled {
    pointer-events: none;
    cursor: no-drop;
    background-color: gainsboro;
    border: 1px solid gray;
    color: gray; }

.reverse {
  color: #03a9f4;
  background-color: #fff; }
  .reverse:hover {
    color: #03a9f4;
    background-color: #eff5ff; }

.btn-white {
  padding: 0.3em 1em;
  line-height: 20px;
  border-radius: 4px;
  color: #03a9f4;
  border: 1px solid #cccccc;
  background-color: white; }
  .btn-white:hover {
    background-color: #f4f6f9; }
  .btn-white.disabled {
    pointer-events: none;
    cursor: no-drop;
    background-color: gainsboro;
    border: 1px solid gray;
    color: gray; }

.input-text {
  font-size: 12px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d3d3d3;
  padding: 0 10px;
  display: block; }
  .input-text:focus {
    border-color: rgba(102, 175, 233, 0.5);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 7px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 7px rgba(102, 175, 233, 0.6); }

.verifi-text-error {
  background-color: #F44336;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px; }

.message-box {
  left: 115%;
  top: -65%;
  padding: 10px;
  line-height: 22px;
  position: absolute;
  border-radius: 5px;
  background-color: #333;
  color: red;
  z-index: 80; }
  .message-box .text {
    white-space: nowrap; }
  .message-box .arrow-left {
    position: absolute;
    left: -15px;
    top: 46%;
    width: 0;
    height: 0;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-right: 9px solid #333;
    border-left: 7px solid transparent;
    font-size: 0;
    line-height: 0; }
  .message-box .arrow-down {
    position: absolute;
    left: 15px;
    bottom: -15px;
    width: 0;
    height: 0;
    border-bottom: 7px solid transparent;
    border-top: 9px solid #333;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    font-size: 0;
    line-height: 0; }

.formErrorContent {
  width: 100%;
  background: #cccccc;
  color: #dd2222;
  width: 150px;
  font-family: tahoma;
  font-size: 11px;
  border: 2px solid #ddd;
  box-shadow: 0px 0px 6px #000;
  -moz-box-shadow: 0px 0px 6px #000;
  -webkit-box-shadow: 0px 0px 6px #000;
  padding: 4px 10px 4px 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }

.formErrorArrow {
  width: 15px;
  margin: -2px 0 0 13px;
  z-index: 5001; }
  .formErrorArrow div {
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    box-shadow: 0px 2px 3px #444;
    -moz-box-shadow: 0px 2px 3px #444;
    -webkit-box-shadow: 0px 2px 3px #444;
    font-size: 0px;
    height: 1px;
    /*background:#ee0101;*/
    background: #cccccc;
    margin: 0 auto;
    line-height: 0px;
    font-size: 0px;
    display: block; }
  .formErrorArrow .line1 {
    width: 1px;
    border: none;
    background: #ddd; }
  .formErrorArrow .line2 {
    width: 3px;
    border: none;
    background: #ddd; }
  .formErrorArrow .line3 {
    width: 1px;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 0px solid #ddd; }
  .formErrorArrow .line4 {
    width: 3px; }
  .formErrorArrow .line5 {
    width: 5px; }
  .formErrorArrow .line6 {
    width: 7px; }
  .formErrorArrow .line7 {
    width: 9px; }
  .formErrorArrow .line8 {
    width: 11px; }
  .formErrorArrow .line9 {
    width: 13px;
    border: none; }
  .formErrorArrow .line10 {
    width: 15px;
    border: none; }

.formError .formErrorArrowBottom div {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none; }

.behoove {
  font-size: 12px;
  color: red;
  font-weight: bold;
  font-family: serif; }

.verif-message {
  font-size: 12px;
  color: red;
  font-weight: bold;
  font-family: serif; }

.input-select {
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d3d3d3; }
  .input-select option {
    font-size: 13px;
    color: #666666; }

.table-two-color {
  width: 100%;
  border: 1px solid #e4e4e4; }
  .table-two-color th, .table-two-color td {
    text-align: left;
    padding: 20px;
    word-break: keep-all; }
  .table-two-color th {
    background-color: #ecf0f1;
    font-weight: normal; }
  .table-two-color tr:nth-child(2n) {
    background-color: #ecf0f1; }

.not-find {
  font-size: 20px;
  color: black; }

textarea {
  border: 1px solid gray; }

.swich span {
  display: none;
  border-radius: 4px;
  width: 60px;
  height: 23px;
  line-height: 23px;
  color: white;
  background: url("../imgs/icons.png") no-repeat;
  background-size: cover; }

.swich .on {
  background-position: 0 0;
  padding: 0 0 0 10px; }

.swich .off {
  background-position: -66px 0;
  padding: 0 0 0 22px; }

.dot {
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #e0dddd; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

[class*="col-"] {
  float: left; }

.hidden {
  display: none; }

.over-x-h {
  overflow-x: hidden; }

.op-0 {
  opacity: 0; }

.oh {
  overflow: hidden; }

.min-width {
  min-width: 1020px; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.pos-ab {
  position: absolute;
  left: 0;
  top: 0; }

.v-m {
  vertical-align: middle; }

.v-t {
  vertical-align: top; }

.fl {
  float: left; }

.fr {
  float: right; }

.f-18 {
  font-size: 18px; }

.f-12 {
  font-size: 12px; }

.w-50 {
  width: 50px; }

.w-75 {
  width: 75px; }

.w-90 {
  width: 90px; }

.w-79 {
  width: 79px; }

.w-100 {
  width: 100px; }

.w-110 {
  width: 110px; }

.w-120 {
  width: 120px; }

.w-170 {
  width: 170px; }

.w-200 {
  width: 200px; }

.w-220 {
  width: 220px; }

.w-950 {
  width: 950px; }

.w-p-30 {
  width: 30%; }

.w-p-70 {
  width: 70%; }

.w-p-100 {
  width: 100%; }

.w-p-40 {
  width: 40%; }

.w-p-65 {
  width: 65%; }

.w-p-60 {
  width: 60%; }

.w-p-35 {
  width: 35%; }

.w-p-30 {
  width: 30%; }

.w-p-100 {
  width: 100%; }

.h-p-100 {
  height: 100%; }

.mlr-10 {
  margin: 0 10px; }

.mr-10 {
  margin-right: 10px; }

.mr-20 {
  margin-right: 20px; }

.ml-20 {
  margin-left: 20px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mtb-20 {
  margin: 20px 0; }

.mlr-11 {
  margin: 0 11px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-40 {
  margin-bottom: 40px; }

.mtb-40 {
  margin: 40px auto; }

.pd-20 {
  padding: 20px; }

.pa-lr-10 {
  padding: 0 10px; }

.pd-l-10 {
  padding-left: 10px; }

.pd-r-20 {
  padding-right: 20px; }

.c_gray {
  color: gray; }

.c_green {
  color: #1abc9c; }

.c_red {
  color: red; }

.c_black {
  color: #333; }

.b-yellow {
  color: #fff;
  background: #f1c40f; }

.b-green {
  background-color: #1abc9c; }

.b-orange {
  background-color: #f39c12; }

.b-blue {
  background-color: #297cbb; }

.b-red {
  background-color: #E91E63; }

/*# sourceMappingURL=maps/public.css.map */
