<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" ":/spring-beans.dtd">

<beans default-autowire="byName">

	<!-- server -->
	<bean id="custOperInterface" class="com.yl.customer.interfaces.impl.CustOperInterfaceImpl"></bean>
	<bean id="custMenuInterface" class="com.yl.customer.interfaces.impl.CustMenuInterfaceImpl"></bean>
	<bean id="custFunctionInterface" class="com.yl.customer.interfaces.impl.CustFunctionInterfaceImpl"></bean>
	<bean id="custFacade" class="com.yl.customer.interfaces.impl.CustFacadeImpl"></bean>
	<!-- 经营分析 -->
	<bean id="shareProfitInterface"
		class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${boss.shareProfitInterface.service.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.boss.api.interfaces.ShareProfitInterface
			</value>
		</property>
		<!-- <property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
		<property name="overloadEnabled" value="true" />
	</bean>
	<!-- 经营分析end -->
	<!-- 代付 -->
	<bean id="queryFacade" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${query.service.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.dpay.hessian.service.QueryFacade
			</value>
		</property>
<!-- 		<property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
	</bean>
	<!-- 代付远程 -->
	<bean id="requestFacade" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${requestFacade.service.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.dpay.hessian.service.RequestFacade
			</value>
		</property>
<!-- 		<property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
	</bean>
	<bean id="dpayFacade" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${dpay.service.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.dpay.hessian.service.DpayFacade
			</value>
		</property>
<!-- 		<property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
		<property name="overloadEnabled" value="true"/>
	</bean>

	<bean id="serviceConfigFacade" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${serviceConfig.service.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.dpay.hessian.service.ServiceConfigFacade
			</value>
		</property>
<!-- 		<property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
		<property name="overloadEnabled" value="true"/>
	</bean>
	<!-- 公告 -->
	<bean id="bulletinInterface" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${boss.bulletinInterface.service.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.boss.api.interfaces.BulletinInterface
			</value>
		</property>
		<!-- <property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
		<property name="overloadEnabled" value="true"/>
	</bean>
	<!-- 公告end -->
	
	<!-- 交易开始 -->
	<bean id="onlineTradeQueryHessianService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${online.onlineTradeQueryHessianService.service.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.online.trade.hessian.OnlineTradeQueryHessianService
			</value>
		</property>
		<property name="hessian2" value="false" />
		<property name="chunkedPost" value="false" />
		<property name="overloadEnabled" value="true"/>
	</bean>
	<!-- 交易结束 -->
	<!-- 商户接口 -->
	<bean id="customerInterface" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${boss.customerInterface.service.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.boss.api.interfaces.CustomerInterface
			</value>
		</property>
		<!-- <property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
		<property name="overloadEnabled" value="true"/>
	</bean>
	<!-- 商户结束 -->
	<!-- 账户查询 -->
	<bean id="accountQueryInterface" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${account.accountQueryInterface.service.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.account.api.dubbo.AccountQueryInterface
			</value>
		</property>
		<property name="hessian2" value="false" />
		<property name="chunkedPost" value="false" />
		<property name="overloadEnabled" value="true"/>
	</bean>
	<!-- 账户结束 -->
	<!-- 白名单 -->
	<bean id="nameListQuery" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${receive.nameListQuery.service.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.receive.hessian.NameListQuery
			</value>
		</property>
<!-- 		<property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
	</bean>

	<!-- 代收 -->
	<bean id="receiveQueryFacade" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${receive.receiveQuery.service.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.receive.hessian.ReceiveQueryFacade
			</value>
		</property>
<!-- 		<property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
	</bean>
	<bean id="recfFacade" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${receive.service.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.receive.hessian.ReceiveFacade
			</value>
		</property>
<!-- 		<property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
	</bean>
	<bean id="customerReceiveConfigHessian" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${receive.customerReceiveConfigHessian.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.receive.hessian.CustomerReceiveConfigHessian
			</value>
		</property>
<!-- 		<property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
	</bean>
	<!-- 代收结束 -->
		<!-- 设备 -->
	<bean id="deviceInterface" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${boss.deviceInterface.Interface.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.boss.api.interfaces.DeviceInterface
			</value>
		</property>
<!-- 		<property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
	</bean>
			<!-- 设备 -->
	<bean id="agentInterface" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${boss.agentInterface.Interface.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.boss.api.interfaces.AgentInterface
			</value>
		</property>
<!-- 		<property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
	</bean>
	
	<bean id="vlhQuery" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${posp.service.vlhQuery.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.pay.pos.api.interfaces.VlhQuery
			</value>
		</property>
<!-- 		<property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
	</bean>
	<bean id="posOrder" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${posp.service.posOrder.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.pay.pos.api.interfaces.PosOrderHessianService
			</value>
		</property>
		<!-- <property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
		<!-- <property name="overloadEnabled" value="true"/> -->
	</bean>
	<bean id="posInterface" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>
				${boss.posInterface.Interface.url}
			</value>
		</property>
		<property name="serviceInterface">
			<value>
				com.yl.boss.api.interfaces.PosInterface
			</value>
		</property>
		<!-- <property name="hessian2" value="false" /> -->
		<property name="chunkedPost" value="false" />
		<!-- <property name="overloadEnabled" value="true"/> -->
	</bean>
</beans>

